{% extends 'layout/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <form class="col s12 m10 offset-m1" method="POST">
            <div class="card-panel">
                <!-- title -->
                <div class="row center-align">
                    <h4> Contact Us. </h4>
                </div>
                <!-- username -->
                <div class="row center-align">
                    <div class="card col s12 m6 offset-m3 grey lighten-3">
                        Sent from:
                        <div class="input-field inline">
                            <input type="text" id="user" name="contact username" value="{{ session.user }}"
                                aria-label="email contact box user" required disabled>
                            <label for="validation">{{ session.user }}</label>
                            <span class="helper-text" data-error="wrong" data-success="right"></span>
                        </div>
                    </div>
                </div>
                <!-- message -->
                <div class="row center-align">
                    <div class="input-field col s10 offset-s1">
                        <input type="text" id="contact-message" placeholder="Get in touch!" name="contact-message"
                            aria-label="email contact box message" required>
                        </div>
                    </div>
                <div class="row center-align">
                    <button class="waves-effect waves-light btn-large" id="contact-form-submit" type="submit" aria-label="send message"><i class="material-icons right">email</i>Send</button>
                </div>
                <!-- validation -->
                <div class="row center-align">
                    <div class="col s12 m12">
                        Validate by retyping your username here:
                        <div class="input-field inline">
                            <input type="text" id="validation" name="validation"
                                aria-label="email contact box user" required>
                            <label for="validation">retype your username</label>
                            <span class="helper-text" data-error="wrong" data-success="right"></span>
                        </div>
                    </div>
                </div>
                <div id="message-sending-spinner" class="center-align">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="row center-align">
                    <div>
                        <div id="contact-form-confirmation">Message Sent Successfully.</div>
                    </div>
                </div>
                <div class="row center-align">
                    <div>
                        <div id="contact-form-fail">Field is empty. Please write something to send.</div>
                    </div>
                </div>
            </div>
        </form>
    </div>  
</div>

{% endblock %}