{% extends 'layout/base.html' %}
{% block content %}
    {% if workout_exercises|length > 0 %}
        <div class="section">
            {% include 'components/workout-list.html' %}
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <div class="center-align">
                        <a class="waves-effect waves-light btn-large" href="{{ url_for('home_logged_in') }}"><i class="material-icons right">add_box</i>All Exercises</a>
                    </div>
                </div>
                <div class="row">
                    <div class="center-align">
                        <a class="waves-effect waves-light btn-large" href="{{ url_for('profile') }}"><i class="material-icons right">perm_identity</i>Profile</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="center-align">
                <h4>You haven't added anything to your workout.</h4> <p>get started by making one, or viewing <a href="{{ url_for('home') }}">All Exercises</a></p>
            </div>
            <div class="center-align">
                <a class="waves-effect waves-light btn-large" href="{{ url_for('home_logged_in') }}"><i class="material-icons right">add_box</i>View All Exercises</a>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}