/* home and all exercises hero image re-size */
.parallax-container {
    height: 40vh;
  }

/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

  /* more footer styling */
.page-footer {
    padding-top: 0px;
}

.page-footer-row {
    margin-bottom: 0px;;
}

/* card and fab z index fix */

.card.medium .card-image {
  max-height: 40%;
  overflow: inherit;
}

.card-image{
  min-height: 200px;
}