{% extends "base.html" %}
{% block content %}
     
<h3 class="center-align">Register</h3>

    <div class="row">
     <!-- log in -->
        <form class="col s12 m5" method="POST" action="{{ url_for('log_in_register') }}">
            <div class="card-panel">
                <div class="row center-align"><h4>Log In</h4></div>
                <div class="row center-align">Already have an account? Log In below.</div>
                <!-- username -->
                <div class="row">
					<div class="input-field col s8 offset-s2">
						<input id="login-username" name="login-username" type="text" class="validate" data-length="10">
						<label for="login-username">Username</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="login-password" name="login-password" type="password" class="validate" data-length="10">
                        <label for="login-password">Password</label>
                    </div>
                </div>
                <!-- Log In -->
                <div class="row">
                    <button type="login-submit" class="col s6 offset-s3 btn-large">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}