{% extends "base.html" %}
{% block content %}

    <div class="row">
     <!-- log in -->
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <div class="row center-align"><h4>Log In</h4></div>
                <div class="row center-align">Already have an account? Log In below.</div>
                <!-- username -->
                <div class="row">
					<div class="input-field col s8 offset-s2">
						<input id="loginusername" name="loginusername" type="text" class="validate" data-length="10">
						<label for="loginusername">Username</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input id="loginpassword" name="loginpassword" type="password" class="validate" data-length="10">
                        <label for="loginpassword">Password</label>
                    </div>
                </div>
                <!-- Log In -->
                <div class="row">
                    <button type="login-submit" class="col s6 offset-s3 btn-large">
                        Log In
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <div class="row center-align">
            <a href="{{ url_for('register') }}">STYLE ME - <h2>REGISTER</h2></a>
        </div>
    </div>

{% endblock %}