{% extends "base.html" %}
{% block content %}

<div class="center-align"><h4>Hello {{ username }}</h4></div>
<div class="divider"></div>

<div class="section">
    <div class="row">
        <div class="center-align"><h5>My exercises:</h5></div>
    </div>
    <!-- add new exercise -->
    <div class="center-align">
        <a class="waves-effect waves-light btn-large" href="{{ url_for('add_new') }}"><i class="material-icons right">add_box</i>Add New</a>
    </div>
    <div class="row z-depth-3">
        {% for exercise in exercises %}
            <div class="col s12 m5 ">
                <div class="card">
                    <h5 class="center-align">{{ exercise.body_target }}</h5>
                    <div class="card-image">
                        <img src="../static/images/body_target_imgs/body-part-full-body.png">
                        <span class="card-title blue-text text-darken-2">{{ exercise.exercise_name }}</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
                        <div class="card-content">
                        <p>{{ exercise.instruction }}</p>
                    </div>
                    <div class="card-action">
                        <div class="row center-align">
                            <div class="waves-effect waves-light btn-small s12"><i class="material-icons left">priority_high</i>{{ exercise.difficulty }} difficulty</div>
                        </div>
                        <div class="row center-align">
                            <div class="waves-effect waves-light btn-small s12"><i class="material-icons left">hourglass_top</i>{{ exercise.est_time }} mins</div>
                        </div>
                    </div>
                    {% if session.user|lower == exercise.created_by|lower %}
                        <div class="card-action center-align">
                            <a href="{{ url_for('edit_exercise', exercise_id=exercise._id) }}" class="btn-small">Edit</a>
                            <a href="{{ url_for('delete_exercise', exercise_id=exercise._id) }}" class="btn-small red">Delete</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="divider"></div>


<!-- workout collection -->
<div class="section">
    <div class="row">
        <div class="center-align"><h5>My workout:</h5></div>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-content center-align flow-text">
                    <a><p>workout 1 name and link</p></a>
                    <a><p>workout 2 name and link</p></a>
                    <a><p>workout 3 name and link</p></a>
                    <a><p>workout 4 name and link</p></a>
                </div>
            </div>
            <div class="center-align">
                <a class="waves-effect waves-light btn"><i class="material-icons right">create</i>edit</a>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>

<!-- contact button -->
<div class="section">
    <div class="row">
        <div class="center-align"><h5>Get in touch.</h5></div>
    </div>
    <div class="center-align">
        <a class="waves-effect waves-light btn-large"><i class="material-icons right">email</i>Contact</a>
    </div>
</div>

{% endblock %}
