{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- register -->
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <div class="row center-align"><h4>Register</h4></div>
                <div class="row center-align">Don't have an account yet? Register below.</div>
                <!-- username -->
                <div class="row">
					<div class="input-field col s10 offset-s1">
						<input id="username" name="username" type="text" class="validate" pattern="^[a-zA-Z0-9]{5, 15}$" data-length="10" maxlength="10" minlength="5" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input id="password" name="password" type="password" class="validate" pattern="^[a-zA-Z0-9]{5, 15}$" data-length="10" maxlength="10" minlength="5" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s6 offset-s3 btn-large">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>

        <div class="col">
            <div class="row center-align">
                <a href="{{ url_for('login') }}">STYLE ME -<h2> Log in</h2></a>
            </div>
        </div>

{% endblock %}