<div class="container">
    {% if userexercises|length > 0 %}

        <div class="center-align">
            <a class="waves-effect waves-light btn-small" href="{{ url_for('add_new_exercise') }}"><i class="material-icons right">add_box</i>Add A New Exercise</a>
        </div>
        <div class="row">
        {% for exercise in userexercises %}
            <div class="col s12 m6">
                <div class="card">
                    <!-- cycle through images for correct  -->
                    <div class="card-image">
                        {% if exercise.body_target|lower == "upper body" %}
                            <img src="{{ url_for('static', filename='images/body-target-imgs/upperbody.jpg') }}" >
                        {% elif exercise.body_target|lower == "lower body" %}
                            <img src="{{ url_for('static', filename='images/body-target-imgs/lower-body.jpg') }}">
                        {% elif exercise.body_target|lower == "back body" %}
                            <img src="{{ url_for('static', filename='images/body-target-imgs/back-body.jpg') }}">
                        {% elif exercise.body_target|lower == "abdominals" %}
                            <img src="{{ url_for('static', filename='images/body-target-imgs/abs.jpg') }}">
                        {% endif %}
                        <span class="card-title">{{ exercise.exercise_name }}</span>
                        
                        <!-- add to workout button -->
                        {% if exercise._id in workout_exercise_id %}
                            <a href="{{ url_for('remove_from_workout', exercise_id=exercise._id) }}" class="btn-floating pulse halfway-fab waves-effect waves-light greentooltipped" data-position="right" data-tooltip="Remove from workout"><i class="material-icons">check</i></a>
                        {% else %}
                            <a href="{{ url_for('add_to_workout', exercise_id=exercise._id) }}" class="btn-floating pulse halfway-fab waves-effect waves-light red tooltipped" data-position="right" data-tooltip="Add to workout""><i class="material-icons">add</i></a>
                        {% endif %}

                    </div>
                    <!-- exercise instruction -->
                    <div class="card-content">
                        <p>{{ exercise.instruction }}</p>
                    </div>
                    <!-- difficulty and est time boxes -->
                    <div class="card-action center-align">
                        <div class="row center-align">
                            <div class="card-panel center-align z-depth-3">Body Target: <br> {{ exercise.body_target }}</div>
                            <div class="waves-effect waves-light btn-small s12"><i class="material-icons left">priority_high</i>{{ exercise.difficulty }} difficulty</div>
                            <div class="waves-effect waves-light btn-small s12"><i class="material-icons left">hourglass_top</i>{{ exercise.est_time }} mins</div>
                        </div>
                        <!-- if user logged in, can edit and delete -->
                        {% if session.user|lower == exercise.user|lower %}
                            <a href="{{ url_for('edit_exercise', exercise_id=exercise._id) }}" class="btn-small">Edit</a>
                            <a href="{{ url_for('delete_exercise', exercise_id=exercise._id) }}" class="btn-small red">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

    {% else %}

        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="center-align">
                    <h4>You haven't made any exercises, get started by making one, or viewing <a href="{{ url_for('home') }}">All Exercises</a></h4>
                </div>
                <div class="center-align">
                    <a class="waves-effect waves-light btn-large" href="{{ url_for('add_new_exercise') }}"><i class="material-icons right">add_box</i>Add New Exercise</a>
                </div>
            </div>
        </div>

    {% endif %}
</div>