{% if userexercises %}

    {% for exercise in userexercises %}
        <h4>You have exercises</h4>
        <h4>{{ exercise.exercise_name }}</h4>
    {% endfor %}

{% else %}

    <div class="section">
        <div class="center-align">
            <h4>You haven't made any exercises, <br> get started by making one, <br> or viewing the entire <a href="{{ url_for('home') }}">Home</a></h4>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn-large" href="{{ url_for('add_new_exercise') }}"><i class="material-icons right">add_box</i>Add New Exercise</a>
        </div>
    </div>

{% endif %}
