<div class="container">
  <div class="row page-footer-row">
    <div class="col l6 s12">
      <h5 class="white-text"><u>Work It Out</u></h5>
      <p class="grey-text text-lighten-4">Make your Workout!</p>
    </div>
    <div class="col l5 offset-l1 s12">
      <h5 class="white-text">Need help?</h5>
      <ul>
        <!-- nav bar selector -->
        {% if session.user %}
          <li><a class="grey-text text-lighten-3" href="{{ url_for('contact') }}">Contact Us</a></li>
        {% endif %}
        <li><a class="grey-text text-lighten-3" href="https://www.nerdfitness.com/blog/how-to-build-your-own-workout-routine/">Helpful reference - how to build your own workout</a></li>
      </ul> 
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <span id="copyright"></span> LABB - for educational purposes only.
      <a class="grey-text text-lighten-4 right" href="https://github.com/lornebb" target="_blank">
        <i class="material-icons tiny">chevron_left</i>
          <u>GitHub</u>
        <i class="material-icons tiny">chevron_right</i>
      </a>
  </div>
</div>