<header>
  <!-- desktop nav -->
  <nav class="nav-extended">
    <div class="nav-wrapper z-depth-2">
      <a href="{{ url_for('home') }}" class="brand-logo">Work It Out</a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down ">
          <li><a href="{{ url_for('home') }}">All Exercises</a></li>
          <!-- Register and log in -->
          <a href="{{ url_for('register') }}" class="waves-effect waves-light btn"><i class="material-icons right">how_to_reg</i>Register</a>
          <a href="{{ url_for('login') }}" class="waves-effect waves-light btn"><i class="material-icons right">login</i>Log In</a>
          <!-- Help Modal -->
          <a class="waves-effect waves-light btn modal-trigger yellow darken-2" href="#helpmodal"><i class="material-icons">help</i></a>
          <!-- Help Modal Content -->
          <div id="helpmodal" class="modal grey">
            <div class="modal-content">
              <h4 class="text-darken-5">Work It Out</h4>
              <p class="flow-text">Stay healthy! Make your own workout! 
                <br>
                1. Register or Log In to make a profile.
                <br>
                2. From your profile you can <b>create an exercise.</b>
                <br>
                3. Browse all the exercises on the All Exercises page.
                <br>
                4. Add to your workout by using the red plus button.
                <br>
                5. Remove from workout using the green tick.
              </p>
            </div>
            <div class="modal-footer grey lighten-1">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        </ul>
    </div>
  </nav>
  <!-- mobile nav -->
  <ul class="right sidenav" id="mobile-menu">
    <li><a href="{{ url_for('home') }}"><h4 class="center-align">Work It Out</h4></a></li>
    <li><a href="{{ url_for('home') }}">All exercises</a></li>
    <!-- register and log in -->
    <li><a href="{{ url_for('register') }}">Register</a></li>
    <li><a href="{{ url_for('login') }}">Log In</a></li>
  </ul> 
</header>