<header>
  <!-- desktop nav -->
  <nav class="nav-extended">
    <div class="nav-wrapper z-depth-2">
      <a href="{{ url_for('home') }}" class="brand-logo">Work It Out</a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down ">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="#!">Workout</a></li>
          <a href="{{ url_for('logout') }}" class="waves-effect waves-light btn"><i class="material-icons right">directions_run</i>Log Out</a>
        </ul>
    </div>
  </nav>
  <!-- mobile nav -->
  <ul class="right sidenav" id="mobile-menu">
    <li><a href="{{ url_for('home') }}"><h4 class="center-align">Work It Out</h4></a></li>
    <li><a href="">Home</a></li>
    <li><a href="{{ url_for('profile') }}">Profile</a></li>
    <li><a href="#!">Workout</a></li>
    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
  </ul> 
</header>