<div class="container">
    <div class="row">
        <div class="center-align"><h5><u>Your workout:</u></h5></div>
    </div>
    <div class="row">
        {% for exercise in workout_exercises %}
            <div class="col s12 m6">
                <div class="card small hoverable blue-grey">
                    <div class="card-content white-text">
                        <blockquote><h6>{{ exercise.body_target }}</h6></blockquote>
                        <span class="card-title">{{ exercise.exercise_name }}</span>
                        <span>{{ exercise.instruction }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('remove_from_workout', exercise_id=exercise._id) }}">Remove</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>